node_modules
.next
out
.env
.env.local
.env.*.local
npm-debug.log*
.DS_Store
public/uploads/*
!public/uploads/.gitkeep
data/*.tmp

.vercel
.env*

!.env.example

.vercel

tsconfig.tsbuildinfo
backups/
